@model StowagePlanAnalytics_ITP_2016.Models.Port

@section JavaScript
            {
    @Scripts.Render("~/bundles/Port")
    @Scripts.Render("~/bundles/jquery-{version}.js")
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 class="modal-title">Edit Port Information</h2>
</div>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <!--Duplicate Port Code Check-->
        @if (ViewBag.Status != null)
        {
            if (ViewBag.Status == "Success")
            {
                <div class="alert alert-success">
                    <a class="close" data-dismiss="alert">&times;</a>
                    <strong style="width:12px">Success!</strong> @ViewBag.Message
                </div>
            }
            else if (ViewBag.Status == "Fail")
            {
                <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert">&times;</a>
                    <strong style="width:12px">Error!</strong> @ViewBag.Message
                </div>
            }
        }
        <div class="panel panel-default panel-table">

            <!-- Panel Content-->
            <div class="panel-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.PortCode, htmlAttributes: new { @class = "control-label col-md-2"})
                        <div class="col-md-10">
                            <input class="form-control" type="hidden" id="" value="@ViewData["storeInitialPortCode"]" name="beforePortValue" />
                            @Html.EditorFor(model => model.PortCode, new { htmlAttributes = new { @class = "form-control", @onchange = "validatePortCode(this)", maxlength = "3", id = "portcode" } })
                            @Html.ValidationMessageFor(model => model.PortCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PortName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PortName, new { htmlAttributes = new { @class = "form-control", @onchange = "validatePortCode(this)", id = "portname" } })
                            @Html.ValidationMessageFor(model => model.PortName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NoOfCranes, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NoOfCranes, new { htmlAttributes = new { @class = "form-control", placeholder = "5", maxlength = "2" } })
                            @Html.ValidationMessageFor(model => model.NoOfCranes, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CostOfMove, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CostOfMove, new { htmlAttributes = new { @class = "form-control", onblur = "stripNonNumeric(this)", onkeypress = "return isNumber(event)", id = "portcost" } })
                            @Html.ValidationMessageFor(model => model.CostOfMove, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="btn-toolbar">
                                <button type="submit" class="btn btn-delete btn-primary btn-md pull-right"><span class="glyphicon glyphicon-ok"></span> Submit</button>
                                <button class="btn btn-primary btn-md pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}