@model IEnumerable<StowagePlanAnalytics_ITP_2016.Models.Port>
<link href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
<link href="~/Content/dashboard.css" rel="stylesheet" /> @*just for presentation*@
@section JavaScript
{
    @Scripts.Render("~/bundles/Modal")
    @Scripts.Render("~/bundles/Port")
    @Scripts.Render("~/bundles/jquery-{version}.js")
}
<div class="container-fluid">
    <h2>
        Ports
        <button id="addBtn" type="button" class="btn btn-create btn-success pull-right  btn-md" onclick="location.href='@Url.Action("Create")'"><span class="glyphicon glyphicon-plus"></span> Create New</button>
    </h2>
    <hr />
    <div class="row">
        <form action="/Port/sort" method="Post">

            <div class="col-md-2">
                <fieldset class="form-group">
                    <label for="portName">Port:</label>
                    <input type="text" class="form-control" name="portName" id='portName'>
                    <button type="submit" name="btnSearch" value="portSearch" class="btn btn-delete btn-primary pull-right"><span class="glyphicon glyphicon-search"></span> Search</button>

                </fieldset>
            </div>
            <button type="submit" name="btnSearch" value="portSortAZ" class="btn btn-delete btn-primary pull-right"><span class="glyphicon glyphicon-search"></span> Sort A-Z</button>
            <button type="submit" name="btnSearch" value="portSortZA" class="btn btn-delete btn-primary pull-right"><span class="glyphicon glyphicon-search"></span> Sort Z-A</button>
            <button type="submit" name="btnSearch" value="portSortMerge" class="btn btn-delete btn-primary pull-right"><span class="glyphicon glyphicon-search"></span> Sort Z-A Merge</button>
        </form>
    </div>



</div>
<table style="width:100%" border="1">
    <tr>
        <th>Port Name:</th>
        <th>Port Code:</th>
        <th>Number of Cranes:</th>
    </tr>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td>@item.PortName</td>
                <td>@item.PortCode</td>
                <td>@item.CostOfMove</td>
            </tr>

        }
    }
</table>
<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
