@model StowagePlanAnalytics_ITP_2016.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 class="modal-title">Change Password</h2>
</div>
<br />

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">

        <div class="panel panel-default panel-table">
            <!--Panel Title-->
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title">Change Password Form</h3>
                    </div>
                </div>
            </div>


            <!-- Panel Content-->
            <div class="panel-body">
                <!--Content Information to be input for Login-->
                <div class="form-horizontal">
                    @if (TempData["message"] != null && TempData["Status"].Equals("Success"))
                    {
                    <div class="alert alert-success">

                        <a class="close" data-dismiss="alert">&times;</a>

                        <strong style="width:12px">Success!</strong> @Html.Raw(Json.Encode(TempData["message"]))

                    </div>
                    }

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="btn-toolbar">
                                <button type="submit" class="btn btn-delete btn-primary pull-right"><span class="glyphicon glyphicon-ok"></span> Submit</button>
                                <button class="btn btn-primary pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        

        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
